@font-face {   /*SegoeWP*/
  font-family: 'SegoeWP';
  src: url('../fonts/SegoeWP/SegoeWP.svg#SegoeWP') format('svg'),
       url('../fonts/SegoeWP/SegoeWP.ttf') format('truetype'),
       url('../fonts/SegoeWP/SegoeWP.woff')  format('woff');
}
@font-face {   /*SegoeWP-Semibold*/
  font-family: 'SegoeWP-Semibold';
  src: url('../fonts/SegoeWP-Semibold/SegoeWP-Semibold.svg#SegoeWP-Semibold') format('svg'),
       url('../fonts/SegoeWP-Semibold/SegoeWP-Semibold.ttf') format('truetype'),
       url('../fonts/SegoeWP-Semibold/SegoeWP-Semibold.woff')  format('woff');
}
@font-face {   /*HelveticaLTStd*/
  font-family: 'HelveticaLTStd';
  src: url('../fonts/HelveticaLTStd/HelveticaLTStd.svg#HelveticaLTStd') format('svg'),
       url('../fonts/HelveticaLTStd/HelveticaLTStd.ttf') format('truetype'),
       url('../fonts/HelveticaLTStd/HelveticaLTStd.woff')  format('woff');
}


* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}
.container {
  max-width: 990px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}


/*========================head=============================================*/
.header_menu {
  background-color: #424242;
  height: auto;
  padding: 8px 0;
  text-align: right;
}
.header_menu  a {
  color: #e6e6e6;
  margin-left: 25px;
}
.header_main {
  background-color: #eeeeee;
  height: auto;
  width: 100%;
  padding: 22px 0;
}
.header_main_items {
  display: flex;
  align-items: center;
}
.header_main_item {
  margin: 0 auto;
}


.header_main_item_search {
  background-color: #79b260;
  width: 460px;
  height: 40px;
  border-radius: 14px;
  border: 0px;

  display: flex;
}
.header_main_item_search > div {
  padding-top: 4px;
  padding-left: 4px;
}
.h_m_i_s_s {
  width: 328px;
  height: 32px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  padding: 10px;
}

.header_main_item_search_text {
  width: 100%;
  height: 100%;/
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  margin: 2px auto;
  margin-left: 5px;
}
.qwe {color: #fff;}
.header_main_item_search_text > a:hover {
  text-decoration: none;
}


.basket {
  padding-right: 6px;
  border-right: solid 1px grey;
}
.basket_line {
  font-size: 20px;
  color: #6d6d6d;
}
.basket_line > .fas {
  color: #79b260;
  font-size: 26px;
  margin-right: 5px;
}
.basket_line > .b_items {
  font-size: 17px;
}

.bl2 {
  padding-top: 10px;
  padding-left: 5px;
  color: #6d6d6d;
  font-size: 27px;
  font-weight: 700;
  margin: 0 auto;
}
.bl2 > a > button {
  background-color: #2c2c2c;
  color: #fff;
  margin-left: 10px;
  height: 26px;
  width: 82px;
  border-radius: 6px;
  border: solid 1px;
  outline: none;
}
.bl2 > a > button:hover {
  background-color: #404040;
  cursor: pointer;
}

.wish_list_line > a {
  color: #6d6d6d;
  font-size: 21px;
  font-weight: 400;
}
.wish_list_line  {
  text-align: center;
}
.wish_list_line > i {
  background-color: #6d6d6d;
  color: #fff;
  padding: 5px;
  border-radius: 100%;
  border: solid 1px;
  margin-bottom: 10px;
}


.header_add_menu > .container {
  height: 100%;
}
.header_add_menu {
  background-color: #ffffff;
  height: 30px;
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.header_add_menu_items {
  display: flex;
  height: 100%;
}
.header_add_menu_items_item {
  flex: 1 0 auto;
  padding-top: 3px;
  text-align: center;
  font-size: 18px;
}
.header_add_menu_items_item:hover{
  text-decoration: none;
  background-color: #8fd372;
  border-radius: 15px; /*borderrrr*/
  border:  0px;
  color: #ffffff;
}

/*========================/head=============================================*/
/*========================footer=============================================*/

.footer_main {
  background: url('../img/footer_bg_1.png') repeat;
  width: 100%;
  height: auto;
}

.footer_main_columns {
  display: flex;
  padding: 30px;
}
.footer_main_column {
  margin: 0 auto;
}
.footer_main_column_text > ul > li {
  /* list-style-type: none; */
  color: #dddddd;
  font-size: 14px;
  font-family: 'SegoeWP';
  border-bottom: solid 1px;
  padding: 3px 5px 5px 10px;
}
.footer_main_column_text > ul > li:last-child {
  border-bottom: solid 0px;
}
.footer_main_column_text > ul > li > a {
  color: #dddddd;
}
.footer_main_column__title >  p {
  margin: 0px 0px 28px 0px;
  text-align: center;
  color: #dddddd;
  font-family: "SegoeWP";
  font-size: 20px;
  font-weight: 300;
}


.footer_donate {
  background: url('../img/footer_bg_2.png') repeat;
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 10px;
}

.footer_donate  p#text_f {
  color: #dddddd;
  font-family: "SegoeWP";
  font-size: 20px;
  font-weight: 300;
  padding: 20px 0 10px 0;
}
.footer_donate  p#img_f > a {
  margin: 0px 5px 0 5px;
}


.footer_info {
  background: url('../img/footer_bg_2.png') repeat;
  width: 100%;
  text-align: center;
  padding: 15px;
  height: auto;
  border-top: solid 1px #262824;
}

.footer_info_text {
  color: #dddddd;
  font-family: "SegoeWP";
  font-size: 16px;
  font-weight: 300;
}
/*========================/footer=============================================*/
/*========================main=============================================*/


.main {
  /* height: auto; */
}

.reklama {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  margin: 10px auto;
  justify-content: space-between;
}
.banner > a > img {
  width: 709px;
}
.banner_mini > a > img {
  width: 266px;
}


.content_and_categories > .container {
  display: flex;
}

.categories {
  width: 188px;
  height: 100%;
  margin: 0px 9px 30px 0px;
  padding-bottom: 10px;
  border: solid 1px #d6d6d6;
  position: relative; /*стыдно еще больше как никогда*/
  top: 1px;
}


#categ_main_title{
  color: #6b6969;
  font-family: "SegoeWP-Semibold";
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
}
#categ_all_b {
  color: #696969;
  font-family: "SegoeWP-Semibold";
  font-size: 20px;
  font-weight: bold;
}

.category_title > p {
  padding-left: 24px;
  color: #525252;
  font-family: "SegoeWP-Semibold";
  font-size: 17px;
  font-weight: 400;
  line-height: 31.67px;
}
.category_text > ul {
  color: #555454;
  font-family: "SegoeWP";
  font-size: 15px;
  font-weight: 400;
  line-height: 26.67px;
  margin-bottom: 10px;
}
.category_text > ul > li#licateg_all_b {margin-bottom: 0px;}

.category_text > ul > li {
  padding-left: 28px;
  cursor: pointer;
}

.category_text > ul > li.active {
  background-color: #86c66b;
  color: #fff;
}
.category_text > ul > li.active#categ_all_b {color: #fff;}



.content {
  width: 80%;
  height: 10%;
}

.content_pages > ul {
  display: flex;
  position: relative; /*стыдно как никогда*/
  top: 1px;
}

.content_pages > ul > li {
  cursor: pointer;
  padding: 15px 20px 12px 20px;
  background-color: #e6e6e6;
  color: #6b6969;
  font-family: "HelveticaLTStd";
  font-size: 17px;
  font-weight: 300;
  border: solid 1px #d6d6d6;
  border-right: 0px;
}
.content_pages > ul > li:last-child {
  border-right: solid 1px #d6d6d6;
}
.content_pages > ul > li.active {
  background-color: #ffffff;
  border-bottom: 0px;
  color: #464646;
  font-size: 18px;
  font-weight: 400;
}



.content_books  {
  border: solid 1px #d6d6d6;
  /* border-bottom: 0px; */
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  padding: 8px 0px;
}
.content_books  img {
  width: 98px;
  height: 150px;
}

.books > a {
  width: 98px;
  height: 225px;
  margin: 14px 29px 16px 29px;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  align-items: center;
}
.books > a:hover {
  text-decoration: none;
}

.book_name {
  color: #595959;
  font-family: "SegoeWP-Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  padding: 0px 5px;
  flex: 1 0 auto;
}

.book_price {
  color: #f05356;
  font-family: "HelveticaLTStd";
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}




/*========================/main=============================================*/
/*========================product_main=============================================*/


.links {
  border: solid 1px #d6d6d6;
  border-radius: 9px;
  margin: 9px 0px;
  padding: 5px 10px;
}

.links > p > a {
  color: #a6a6a6;
  font-family: "SegoeWP";
  font-size: 16px;
  font-weight: 400;
}


.about_book {
  border: solid 1px #d6d6d6;
  border-radius: 9px;
  padding: 25px 30px;
  margin-bottom: 14px;
  display: flex;
}


.about_book_img {
  width: 250px;
  height: 391px;
}

.about_book_content {
  margin: 0px 5px 0px 40px;
  width: 100%;
}
.about_book_content_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about_book_content_title_text {
  color: #595959;
  font-family: "SegoeWP";
  font-size: 36px;
  font-weight: 300;
}
.about_book_content_title_inStock{
  margin-top: 12px;
}


.about_book_content_text {
  color: #7e7e7e;
  font-family: "SegoeWP";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 5px 13px 20px 6px;
}

.about_book_content_buy {
  border: solid 1px #d6d6d6;
  padding: 15px 25px 10px 20px;
}
.about_book_content_buy_first {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: solid 1px #d6d6d6;
}
.about_book_content_buy_first > .first_btn > button {
  color: #ffffff;
  font-family: "HelveticaLTStd";
  font-size: 24px;
  font-weight: 700;
  margin-top: 0px;
  padding: 8px 50px 8px 41px;
  background-color: #7db863;
  border: 0px;
  border-radius: 5px;
}

#buy_blue {
  color: #015699;
  font-family: "SegoeWP: ;";
  font-size: 36px;
  font-weight: 400;
}
#buy_blue > span {
  color: #e45858;
  font-family: "SegoeWPN-Semibold";
  font-weight: 700;
}

#buy_simple {
  color: #939292;
  font-family: "SegoeWP";
  font-size: 17px;
  font-weight: 400;
}

#lock {
  color: #939292;
  font-family: "SegoeWP";
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}






/*========================/product_main=============================================*/

/* end */
